// Brand color palette
$red: #FD1015;
$blue: #8ecae6;
$yellow: #FFC65A;
$orange: #ee9b00;
$green: #1EDD88;
$gold: #fdc500;

// Grayscale
$light-gray: #F4F4F4;
$gray: #343a40;

// Alert
$flash-orange: #fb5607;

// Planning
$available-green: #7ae582;
