/* Boutons ronds uniformes */
.btn-square {
  width: 42px;
  height: 42px;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Recherche */
.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 240px;
}

.search-clear {
  color: #dc3545;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.search-input:not(:placeholder-shown) + .search-clear {
  display: block;
}

 .bg-orange {
    background-color: #FD7E14 !important; /* Ton Orange MerchFlow */
  }
  .text-orange {
    color: #FD7E14 !important;
  }
  .bg-orange-light {
    background-color: rgba(253, 126, 20, 0.1) !important;
  }
  .border-orange-subtle {
    border-color: rgba(253, 126, 20, 0.2) !important;
  }
