<div class="container min-vh-100 py-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="d-flex align-items-center mb-4">
        <div>
          <h1 class="fw-bold text-dark m-0">Modifier le Contrat</h1>
          <p class="text-muted small m-0 fs-5"><%= @contract.agency_label %></p>
        </div>

        <%# On redirige vers  ou l'index (contracts_path) %>
        <%= link_to contracts_path(@contract), class: "btn btn-white border shadow-sm rounded-circle ms-auto", style: "width:40px; height:40px; display:grid; place-items:center;" do %>
          <i class="fa-solid fa-arrow-left text-dark"></i>
        <% end %>
      </div>

      <%# Render du Partial %>
      <%= render 'form', contract: @contract %>

    </div>
  </div>
</div>
