<div class="bg-light min-vh-100 py-5">
  <div class="container">

    <div class="row justify-content-center mb-4">
      <div class="col-lg-10">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <%= link_to job_offers_path, class: "btn btn-white bg-white rounded-circle shadow-sm me-4 p-0 d-flex align-items-center justify-content-center transition-hover text-decoration-none", style: "width: 55px; height: 55px;" do %>
              <i class="fa-solid fa-arrow-left text-muted fs-5"></i>
            <% end %>

            <div>
              <h2 class="fw-bold text-dark m-0 mt-1" style="letter-spacing: -0.5px;">
                <%= @job_offer.new_record? ? "Publier une nouvelle offre" : "Modifier l'offre ##{@job_offer.id}" %>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <%= render 'form', job_offer: @job_offer %>
      </div>
    </div>

  </div>
</div>
